<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Universitas</title>
    {% include 'header_adminlte.html' %}
  </head>
  <style>
    .content {
      margin: 20px;
      margin-top: 50px;
    }

    .p-3 {
      margin-bottom: 10px;
    }
  </style>

  <body>
    {% include 'adminlte_sidebar.html' %}
    <div class="content-wrapper" style="min-height: 635.4px">
      <div class="content">
        <div class="data-univ">
          <table width="40%">
            <tr>
              <td>Nama Universitas :</td>
              <td>{{ content.data_univ.nama_kampus }}</td>
            </tr>
            <tr>
              <td>Url Kampus :</td>
              <td>
                <a href="https://{{ content.data_univ.url_kampus }}"
                  >{{ content.data_univ.url_kampus }}</a
                >
              </td>
            </tr>
            <tr>
              <td>Total Sitasi :</td>
              <td>{{ content.data_univ.total_sitasi }}</td>
            </tr>
            <tr>
              <td>Last Sync :</td>
              <td>{{ content.data_univ.last_update }}</td>
            </tr>
          </table>
        </div>
        <div class="data-table">
          <h1>Daftar Dosen Universitas</h1>
          <a
            href="/singkronisasi/{{ content.data_univ.url_kampus }}"
            onclick="showLoadingModal()"
            ><button class="p-3">singkronisasi</button></a
          >

          <!-- Modal untuk loading animasi -->
          <div
            class="modal fade"
            id="loadingModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="loadingModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body text-center">
                  <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p>Loading...</p>
                </div>
              </div>
            </div>
          </div>
          <style>
            .spinner-border {
              width: 3rem;
              height: 3rem;
            }

            .modal-body p {
              margin-top: 1rem;
              font-size: 1.2rem;
              color: #007bff;
            }
          </style>

          <script>
            function showLoadingModal() {
              $("#loadingModal").modal("show");
            }

            // CSS untuk animasi spinner
            var style = document.createElement("style");
            style.type = "text/css";
            style.innerHTML =
              "@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }";
            document.getElementsByTagName("head")[0].appendChild(style);
          </script>
          <a href="/"><button class="p-3">back</button></a>

          <table id="example" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>No</th>
                <th>Id Dosen</th>
                <th>Nama Dosen</th>
                <th>Url Dosen</th>
                <th>Afiliasi</th>
                <th>Sitasi</th>
              </tr>
            </thead>
            <tbody>
              {% for dosen in content.data_dosen %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ dosen.id_sitasi_dosen }}</td>
                <td>{{ dosen.nama_dosen }}</td>
                <td>
                  <a href="{{ dosen.url_dosen }}">{{ dosen.nama_dosen }}</a>
                </td>
                <td>{{ dosen.email_verified }}</td>
                <td>{{ dosen.total_sitasi }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% include 'footer_adminlte.html' %}
  </body>
</html>
