<!-- Load jQuery first -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Load DataTables library -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"
></script>
<!-- Load DataTables Buttons extension -->
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css"
/>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"
></script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"
></script>

<!-- end table  -->
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/fontawesome-free/css/all.min.css"
/>

<link
  rel="stylesheet"
  href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/jqvmap/jqvmap.min.css"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/dist/css/adminlte.min.css?v=3.2.0"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/daterangepicker/daterangepicker.css"
/>

<link
  rel="stylesheet"
  href="https://adminlte.io/themes/v3/plugins/summernote/summernote-bs4.min.css"
/>

<style>
  body:not(.layout-fixed) .main-sidebar {
    height: inherit;
    min-height: 100%;
    position: fixed;
  }

  .form-inline {
    padding-top: 40px;
  }
  table {
    width: 50%;
  }
</style>
